[Unit]
Description=BD2 Control
After=network.target
 
[Service]
Type=simple
User=USER
Group=GROUP
ExecStart=python3 ./main.py
WorkingDirectory=PWD
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
 
[Install]
WantedBy=network.target
Alias=r2_control.service
